doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/item-quantity-dropdown.min.css")
        title UI Kit
    body
        img( class="logo" src="img/logo.svg", alt="TOXIN logo")
        section#main
            h1 Colors &amp; Type
            section#clrs
                .clrs__column
                    .clrs__column-box
                        .clrs__column-shade
                        .clrs__column-text
                            h2 Dark Shade 100&#37;
                            p #1F2041
                    .clrs__column-box
                        .clrs__column-shade
                        .clrs__column-text
                            h2 Dark Shade 75&#37;
                            p #1F2041
                    .clrs__column-box
                        .clrs__column-shade
                        .clrs__column-text
                            h2 Dark Shade 50&#37;
                            p #1F2041
                    .clrs__column-box
                        .clrs__column-shade
                        .clrs__column-text
                            h2 Dark Shade 25&#37;
                            p #1F2041
                    .clrs__column-box
                        .clrs__column-shade
                        .clrs__column-text
                            h2 Dark Shade 5&#37;
                            p #1F2041
                    .clrs__column-box
                        .clrs__column-shade
                        .clrs__column-text
                            h2 Purple
                            p #BC9CFF
                    .clrs__column-box
                        .clrs__column-shade
                        .clrs__column-text
                            h2 Green
                            p #6FCF97
                .clrs__text
                    .clrs__text-heading
                        p H1
                        p H2
                        p H3
                        p Body
                    .clrs__text-sample
                        p This one is the sub-section or widget title
                        p Next one is the item title inside widgets
                        p This is a label or cta text
                        p This is the body text which is used fot most of the design, like paragraphs, lists, etc.
            h1 Form Elements
            section#forms
                form(class="forms__input" action="/action_page.php")
                    label(for="User-Email") Text field
                    input(type="email", name="User-Email" placeholder="Email")
                label(for="User-Email") Dropdown
                .iqdropdown
                    p.iqdropdown-selection
                    .iqdropdown-menu
                        .iqdropdown-menu-option(data-id="item1")
                            p.iqdropdown-item Взрослые
                        .iqdropdown-menu-option(data-id="item2")
                            p.iqdropdown-item Дети
                        .iqdropdown-menu-option(data-id="item3")
                            p.iqdropdown-item Младенцы
                        .iqdropdown-menu-clean
                            p.iqdropdown-clean Очистить
                            p.iqdropdown-use#onclick Применить
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor rem natus quas in aperiam. Repudiandae ex iste eaque sapiente, dicta neque vero nihil modi enim at doloribus! Accusantium corrupti delectus quas magnam architecto repudiandae, fuga reiciendis, dicta amet, dolore possimus rerum hic reprehenderit cupiditate dolorem facilis voluptas aut. Explicabo, sint. ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde ex ab at quod. Nesciunt a, quo ea dolorum, similique pariatur maxime quaerat, ipsum illo ab nisi ex quis. Sint ea id doloremque dolorem porro corrupti enim, tempore eum praesentium alias sapiente aliquam ut, illo consequuntur eligendi aut neque. Tenetur eos impedit deleniti rerum, facilis, culpa adipisci ipsum laudantium possimus, nesciunt aut! Ullam quisquam, eum nesciunt sequi alias ipsa dignissimos ab repellat consequatur nulla? Facilis dolorum minima, unde rerum numquam vel quod beatae officia neque veniam eius. Pariatur, ut? Enim dolores sapiente iusto perspiciatis mollitia. Aliquid dolor eius possimus deleniti?
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="js/item-quantity-dropdown.min.js")
        script(src="js/dropdown-plugin.js")





